@import './../../app.global.module.scss'
;

.wrapperMain,
.wrapperSide {
    min-height: 100vh;
    padding: 0;
}

.wrapperMain {
    width: 65%;
}

.wrapperSide {
    width: 35%;
}

.calendarProfile {
    background-color: #5f4764 !important;
    padding: 10px;
    border: none;
    border-radius: 24px;
    color: #fff !important;

    .react-calendar__navigation {
        height: auto;
        color: #fff;

        .react-calendar__navigation__arrow .react-calendar__navigation__prev2-button {
            display: none !important;
        }
    }

    .react-calendar__navigation button:last-child {
        display: none;
    }
}

.listSelected {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px
}

.profileCard {
    border-radius: 16px !important;
}

.wrapperChart {
    min-height: calc($index * 18);
    width: 100%;

}

.formWrapper {
    font-size: 0.9em;

    &__box {
        display: flex;
        justify-self: center;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-bottom: 15px;
        gap: 0.6em;
    }

    &__field {
        border-radius: $border-radius-secondary2;
        padding: 5px;
        border: 2px solid;
    }
}

.titleButton {
    text-transform: none !important;
    width: 100% !important;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    line-height: 1;
}

.alignLeft {
    display: block;
    margin-left: auto;
    text-align: right;
    color: inherit;

}

/***************************
****************************
**********Adaptive**********
****************************
***************************/

@media (max-width: 1210px) {}

@media (max-width: 992px) {
    .wrapperChart {
        min-height: auto;

        canvas {
            width: 100% !important;
            height: 38vw !important;
        }
    }

    .profileWrapper {
        flex-wrap: wrap;
    }

    .wrapperMain,
    .wrapperSide {
        width: 100%;
        min-height: auto;
    }

    .formWrapper {
        &__box {
            flex-wrap: nowrap;
        }

        &__fieldWrapper {
            width: 100%;
        }

        &__field {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .listSelected {
        grid-template-columns: repeat(1, 1fr);
    }

    .formWrapper {
        &__box {
            flex-wrap: wrap;
        }

    }
}

@media (max-width: 576px) {}

@media (max-width: 375px) {}
