$index:calc(1vh + 1vw);

.listSavings {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap:20px
}

/***************************
****************************
**********Adaptive**********
****************************
***************************/

@media (max-width: 1210px) {}

@media (max-width: 992px) {
   .listSavings {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 768px) {
  .listSavings_title{
   font-size: calc($index * 3.4) !important;
  }
}

@media (max-width: 576px) {
   .listSavings {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }
}

@media (max-width: 375px) {}