$index:calc(1vh + 1vw);

.listSavings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px
}

.boxSession {
    &__title {
        margin-bottom: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
}

.wrapperCourse {
    display: flex;
    align-items: flex-start;

    &__body {
        flex: 1 0 auto
    }

    &__side {
        padding: 20px 20px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
    }
}

.answerTable {
    border-spacing: 0px;

    th {
        padding-left: 10px;
    }
}

.wrapperRadio {

    .marker {
        position: relative;
        overflow: hidden;
    }

    .radioField {
        appearance: none;

        &+span.marker {

            &::after,
            &::before {
                content: '';
                position: absolute;
                top: 0;
                width: 3px;
                height: 200%;
                transform-origin: top;
            }

            &::after {
                transform: rotate(-45deg) translateY(-3%);
                left: 0;
            }

            &::before {

                right: 0;
                transform: rotate(45deg) translateY(-3%);
            }
        }

        &__error+span.marker {
            border-color: rgb(255, 0, 0);

            &::after,
            &::before {
                background-color: rgb(255, 0, 0);
            }
        }

        &__correct+span.marker {
            border-color: rgb(0, 255, 0);

            &::after,
            &::before {
                background-color: rgb(0, 255, 0);

            }
        }

        &:checked+span.marker {
            border-color: #fff;

            &::after,
            &::before {
                content: '';
                position: absolute;
                top: 0;
                width: 3px;
                height: 200%;
                background-color: #fff;
                transform-origin: top;
            }

            &::after {
                transform: rotate(-45deg) translateY(-3%);
                left: 0;
            }

            &::before {

                right: 0;
                transform: rotate(45deg) translateY(-3%);
            }
        }
    }

    .marker {
        width: 40px;
        height: 40px;
        display: inline-block;
        border: 3px solid rgb(88, 88, 88);

    }
}


.rangeWrapper {
    display: flex;
    // justify-content: space-between;
    gap: 20px;

    &__field {
        width: 95%;
        max-width: 300px;


    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0;
        /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
        -moz-appearance: textfield;
        /* Firefox */
    }

    &__fieldRange3 {
        width: 7pc
    }
}

.correct {
    border: 2px solid rgb(0, 255, 0);
}

.wrong {
    border: 2px solid rgb(255, 0, 0) !important;
}

.noScrollBar {
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    & {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

}
.markNumberTask{
    // width: fit-content;
    padding: 4px 10px ;
}
/***************************
****************************
**********Adaptive**********
****************************
***************************/

@media (max-width: 1210px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .listSavings {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .wrapperCourse {
        flex-direction: column;

        &__side {
            width: 100%;
        }
    }

    .rangeWrapper {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .button2Task {
        max-width: 50px;
        min-width: auto !important;
    }
}

@media (max-width: 576px) {
    .listSavings {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .wrapperCourse {
        &__side {
            padding: 20px 10px;
        }
    }

    .wrapperRadio {
        .marker {
            width: 35px;
            height: 35px;
        }
    }
}

@media (max-width: 375px) {}
