@import './../../app.global.module.scss';

$index:calc(1vh + 1vw);

.listSavings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px
}

.boxSession {
    &__title {
        margin-bottom: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
}

.wrapperCourse {
    display: flex;
    align-items: flex-start;

    &__body {
        flex: 1 0 auto
    }

    &__side {
        padding: 20px 20px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
    }
}

.answerTable {
    border-spacing: 0px;

    th {
        padding-left: 10px;
    }
}

.wrapperRadio {

    .marker {
        position: relative;
        overflow: hidden;
    }

    .radioField {
        appearance: none;

        &+span.marker {

            &::after,
            &::before {
                content: '';
                position: absolute;
                top: 0;
                width: 3px;
                height: 200%;
                transform-origin: top;
            }

            &::after {
                transform: rotate(-45deg) translateY(-3%);
                left: 0;
            }

            &::before {

                right: 0;
                transform: rotate(45deg) translateY(-3%);
            }
        }

        &__error+span.marker {

            // &__dark,
            // &__light {
            border-color: rgb(255, 0, 0);

            &::after,
            &::before {
                background-color: rgb(255, 0, 0);
            }

            // }
        }

        &__correct+span.marker {

            // &__dark,
            // &__light {
            border-color: rgb(0, 255, 0);

            &::after,
            &::before {
                background-color: rgb(0, 255, 0);

            }

            // }
        }

        &:checked+span.marker {

            &__dark,
            &__light {

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    width: 3px;
                    height: 200%;
                    background-color: rgb(0, 0, 0);
                    transform-origin: top;
                }

                &::after {
                    transform: rotate(-45deg) translateY(-3%);
                    left: 0;
                }

                &::before {

                    right: 0;
                    transform: rotate(45deg) translateY(-3%);
                }
            }

            &__light {
                border-color: rgb(0, 0, 0);

                &::after,
                &::before {
                    background-color: rgb(0, 0, 0);
                }
            }

            &__dark {
                border-color: #fff;

                &::after,
                &::before {
                    background-color: #fff;
                }
            }
        }
    }

    .marker {
        width: 40px;
        height: 40px;
        display: inline-block;
        border: 3px solid rgb(88, 88, 88);

    }
}


.rangeWrapper {
    display: flex;
    // justify-content: space-between;
    gap: 20px;

    &__field {
        width: 95%;
        max-width: 300px;


    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0;
        /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
        -moz-appearance: textfield;
        /* Firefox */
    }

    &__fieldRange3 {
        width: 7pc
    }
}

.correct {
    border: 2px solid rgb(0, 255, 0);
}

.wrong {
    border: 2px solid rgb(255, 0, 0) !important;
}

.noScrollBar {
    &::-webkit-scrollbar {
        display: none;
    }

    & {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

}

.markNumberTask {
    padding: 4px 10px;
}

.wrapperButtons {

    .button2Task {
        max-width: 60px;
        min-width: auto !important;
    }
}

.navigationTest {
    --height-from-top: 10px;
    display: flex;
    border-radius: $border-radius-primary;
    z-index: 1;
    position: sticky;
    top: var(--height-from-top);
    transition: all 10.6s !important;
    margin: 0 auto;

    &._stick {
        // height: 50px;
        width: 90%;
        transition: all 0.6s;
        animation: apeareFromTop 0.6s;
        padding: 0 0;
        margin: 0 auto;

        button {
            padding: 10px 0 !important;
        }

    }

    &__link {
        display: block;
        width: 100%;
    }

    &__button {
        display: inline-flex;
        width: 100%;
        height: 100%;
        text-transform: none !important;
        padding: 20px 0;
        border-radius: $border-radius-primary;
        border: 1px solid transparent;

    }
}

.itemTheme {
    border-radius: $border-radius-primary;
    padding: 20px 15px;
}


/***************************
****************************
**********Adaptive**********
****************************
***************************/

@media (max-width: 1210px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .listSavings {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .wrapperCourse {
        flex-direction: column;

        &__side {
            width: 100%;
        }
    }

    .rangeWrapper {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .button2Task {
        max-width: 50px;
        min-width: auto !important;
    }
}

@media (max-width: 600px) {
    .listSavings {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .wrapperCourse {
        &__side {
            padding: 20px 10px;
        }
    }

    .wrapperRadio {
        .marker {
            width: 35px;
            height: 35px;
        }
    }

    .wrapperButtons {

        &__blurSideLigth,
        &__blurSideDark {
            position: relative;

            &::after,
            &::before {
                content: '';
                top: 0;
                position: absolute;
                height: 100%;
                width: 50px;
                z-index: 1;
            }

            &::after {
                // background: rgb(102, 102, 102);

                right: 0;
            }

            &::before {
                // background: rgb(102, 102, 102);
                left: 0;
            }
        }

        &__blurSideLight {
            &::after {
                background: rgb(255, 255, 255);
                background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.58) 100%);
            }

            &::before {
                background: rgb(255, 255, 255);
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.58) 0%, rgba(255, 255, 255, 0) 100%);
            }
        }

        &__blurSideDark {

            &::after {
                background: rgb(102, 102, 102);
                background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(102, 102, 102, 0.58) 100%);
            }

            &::before {
                background: rgb(102, 102, 102);
                background: linear-gradient(90deg, rgba(102, 102, 102, 0.58) 0%, rgba(102, 102, 102, 0) 100%);
            }
        }

        &__range {
            flex-wrap: nowrap;
            display: flex;
            overflow-y: scroll;
            position: relative;
            scroll-behavior: smooth;
            padding: 0 40px;
        }

        .button2Task {
            max-width: 40px;
            min-width: auto !important;
        }
    }
}

@media (max-width: 375px) {}


@keyframes apeareFromTop {
    from {
        top: -50px;
        width: 100%;
        // height: 70px;

    }

    to {
        top: var(--height-from-top);
        width: 90%;
        // height: 50px;
    }
}

@keyframes appearFromBottom {
    0% {
        bottom: -80px;
    }

    100% {
        bottom: 20px;
    }
}
