.app{
   height:100vh
}
.topBar{
   display: none;
}
.SideBarLargeScreen{
   display: block;
}
.app__wrapper{
   display: flex;
}
.row{
   display: flex;
}
.rowColumn{
   display: flex;
   flex-direction: column;
}
*{
   transition: all 0.1s;
}
/***************************
****************************
**********Adaptive**********
****************************
***************************/

@media (max-width: 1140px) {
	 
}

@media (max-width: 992px) {
	 
}

@media (max-width: 768px) {
	 .topBar{
      display: block;
    }
    .SideBarLargeScreen{
      display: none;
    }
    .app__wrapper{
      display: block;
    }
}

@media (max-width: 576px) {
	 
}

@media (max-width: 375px) {
	 
}